{% extends 'base.html'%}
{% block content %}
<div id="profile-summary" class="mt-5">
    <div id="profile-pic">
        <img src="{{ object.avatar.avatar.url }}" alt=" {{user.username}}">
    </div>
    <div id="profile-desc">
        <div class="my-3">
            <span class="h2 mx-2">{{user.username}}</span>
            <span><a href="#" class="btn btn-sm btn-outline-secondary mx-3">Edit profile</a></span>
        </div>
        <div class="my-3">
            <span class="mx-1">{{user.images.all.count }} posts </span>
            <span class="mx-1">0 followers </span>
            <span class="mx-1">0 following </span>
        </div>
        <div class="my-3">
            <span>{{user.email}}</span>
        </div>
    </div>
</div>

<div id=profile-posts class="my-5">
    <h3 class="text-center border-bottom mb-5">Posts</h3>
    <div id="my-posts mx-5">
        {% for post in user.images.all %}
        <div class="card" style="width: 18rem;">
            <img class="post-display" src="{{post.image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">{{post}}</p>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{%endblock content%}